/*Colors*/
/*Font*/
@font-face {
  /*Shrikhand*/
  font-family: 'Shrikhand';
  src: url(/polices/shrikhand/Shrikhand-Regular.otf) format("truetype"), url(/GhilesHallou_03_01062021/polices/shrikhand/Shrikhand-Regular.otf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /*Roboto - Regular*/
  font-family: 'Roboto';
  src: url(/GhilesHallou_03_01062021/polices/Roboto/Roboto-Regular.ttf) format("truetype"), url(/polices/Roboto/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /*Roboto - Italic*/
  font-family: 'Roboto';
  src: url(/GhilesHallou_03_01062021/polices/Roboto/Roboto-Italic.ttf) format("truetype"), url(/polices/Roboto/Roboto-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  /*Roboto - Bold*/
  font-family: 'Roboto';
  src: url(/GhilesHallou_03_01062021/polices/Roboto/Roboto-Bold.ttf) format("truetype"), url(/polices/Roboto/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  /*Roboto - Black*/
  font-family: 'Roboto';
  src: url(/GhilesHallou_03_01062021/polices/Roboto/Roboto-Black.ttf) format("truetype"), url(/polices/Roboto/Roboto-Black.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  /*Roboto - Italic/Bold*/
  font-family: 'Roboto';
  src: url(/GhilesHallou_03_01062021/polices/Roboto/Roboto-BoldItalic.ttf) format("truetype"), url(/polices/Roboto/Roboto-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: 'Roboto', serif;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.loader_item {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  -webkit-animation: jump 1s;
          animation: jump 1s;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
  z-index: 10;
  margin-left: 10px;
}

#loader_item_1 {
  background-color: #9356DC;
}

#loader_item_2 {
  background-color: #FF79DA;
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

#loader_item_3 {
  background-color: #99E2D0;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.loader__itemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-animation: loader .1s;
          animation: loader .1s;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*Header*/
.logo_h {
  background-image: url("../images/logo/ohmyfood.png");
  border: 1px none;
  height: 65px;
  background-size: 44%;
  background-repeat: no-repeat;
  background-position: center;
}

.local {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px none;
  background-color: #eaeaea;
}

.local .fas {
  font-size: 1em;
  position: relative;
  top: 15px;
  right: 25px;
}

.local p {
  font-weight: bold;
  font-size: 15px;
}

.prez {
  position: relative;
  height: 287px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f6f6;
}

.prez h1, .prez p, .prez div {
  text-align: center;
}

.prez h1 {
  font-size: 25px;
  font-weight: bold;
  position: relative;
  top: 15%;
}

.prez p {
  position: relative;
  top: 15%;
  font-size: 15px;
}

.prez .button {
  margin-top: auto;
  position: relative;
  bottom: 20%;
}

.prez .button a {
  border: 1px none black;
  border-radius: 30px;
  padding: 15px;
  text-decoration: none;
  color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: 1px 1px 10px #c8c8c8;
          box-shadow: 1px 1px 10px #c8c8c8;
}

.prez .button a:hover {
  -webkit-box-shadow: 1px 1px 10px #505050;
          box-shadow: 1px 1px 10px #505050;
  background: -webkit-gradient(linear, left top, right bottom, from(#FFABFF), to(#C588FF));
  background: linear-gradient(to bottom right, #FFABFF, #C588FF);
}

.fct {
  margin-bottom: 5%;
}

.fct h2 {
  padding-left: 5%;
}

.fct .fct_group div {
  border: 1px none black;
  border-radius: 18px;
  margin: 5% 0px 0px 5%;
  padding-bottom: 1px;
  padding-left: 10px;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f6f6f6;
  -webkit-box-shadow: 1px 1px 10px #e6e3e3;
          box-shadow: 1px 1px 10px #e6e3e3;
}

.fct .fct_group div .fas {
  position: relative;
  right: 30px;
  top: 20px;
}

.fct .fct_group div .fa-mobile-alt {
  right: 22px;
}

.fct .fct_group div .fa-store {
  right: 28px;
}

.fct .fct_group div .fct_txt {
  font-weight: bold;
  position: relative;
  right: 10%;
}

.fct .fct_group div #Snd_txt {
  right: 14%;
}

.fct .fct_group div #Trd_txt {
  right: 13%;
}

.fct .fct_group div .nb {
  border: 2px solid #9356DC;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #9356DC;
  color: white;
  position: relative;
  right: 10%;
}

.fct .fct_group .Trd {
  background-color: #F5EDFF;
}

.fct div div {
  border: 1px none black;
  border-radius: 18px;
  margin: 5% 0px 0px 5%;
  padding-bottom: 1px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f6f6f6;
  -webkit-box-shadow: 1px 1px 10px #e6e3e3;
          box-shadow: 1px 1px 10px #e6e3e3;
}

.fct div div .fas {
  position: relative;
  right: 30px;
  top: 20px;
}

.fct div div .fa-mobile-alt {
  right: 22px;
}

.fct div div .fa-store {
  right: 28px;
}

.fct div div .fct_txt {
  font-weight: bold;
  position: relative;
  right: 10%;
}

.fct div div #Snd_txt {
  right: 14%;
}

.fct div div #Trd_txt {
  right: 13%;
}

.fct div div .nb {
  border: 2px solid #9356DC;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #9356DC;
  color: white;
  position: relative;
  right: 10%;
}

.fct .Fst .fas, .fct .Snd .fas {
  color: #7e7e7e;
}

.fct .Trd {
  background-color: #F5EDFF;
}

.fct .Trd .fa-store {
  color: #9356DC;
}

/*Section*/
.middle {
  background-color: #f6f6f6;
  padding: 5px 10px 10px 10px;
}

.middle .section_title {
  padding-left: 5%;
}

.middle .resto_card_group .group_two, .middle .resto_card_group .group_one {
  position: relative;
}

.middle .resto_card_group div input[type=checkbox] {
  display: none;
}

.middle .resto_card_group div #heart_p:checked ~ .pale .btn-heart #heart_p-btn #heart_p-icon-BG, .middle .resto_card_group div #heart_n:checked ~ .note .btn-heart #heart_n-btn #heart_n-icon-BG, .middle .resto_card_group div #heart_f:checked ~ .fr .btn-heart #heart_f-btn #heart_f-icon-BG, .middle .resto_card_group div #heart_d:checked ~ .del .btn-heart #heart_d-btn #heart_d-icon-BG {
  opacity: 1;
}

.middle .resto_card_group div #heart_p:checked ~ .pale .btn-heart #heart_p-btn #heart_p-icon-noBG, .middle .resto_card_group div #heart_n:checked ~ .note .btn-heart #heart_n-btn #heart_n-icon-noBG, .middle .resto_card_group div #heart_f:checked ~ .fr .btn-heart #heart_f-btn #heart_f-icon-noBG, .middle .resto_card_group div #heart_d:checked ~ .del .btn-heart #heart_d-btn #heart_d-icon-noBG {
  opacity: 0;
}

.middle .resto_card_group div a {
  text-decoration: none;
}

.middle .resto_card_group div .btn-heart {
  height: 70px;
}

.middle .resto_card_group div .fa-heart {
  padding-bottom: 15px;
  padding-left: 1px;
  padding-right: 1px;
  cursor: pointer;
  position: absolute;
}

.middle .resto_card_group div i {
  bottom: 1.5rem;
  right: 1.5rem;
  color: black;
  font-weight: normal;
  font-size: 30px;
  height: 16px;
}

.middle .resto_card_group div #heart_p-icon-BG, .middle .resto_card_group div #heart_p-icon-noBG {
  bottom: 25.6rem;
  right: 10%;
}

.middle .resto_card_group div #heart_n-icon-BG, .middle .resto_card_group div #heart_n-icon-noBG {
  bottom: 5.8rem;
  right: 10%;
}

.middle .resto_card_group div #heart_f-icon-BG, .middle .resto_card_group div #heart_f-icon-noBG {
  bottom: 25.6rem;
  right: 10%;
}

.middle .resto_card_group div #heart_d-icon-BG, .middle .resto_card_group div #heart_d-icon-noBG {
  bottom: 5.8rem;
  right: 10%;
}

.middle .resto_card_group div .BG {
  background: -webkit-gradient(linear, left bottom, right top, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to top right, #FF79DA, #9356DC);
  color: rgba(0, 0, 0, 0);
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  -webkit-transition: opacity 600ms linear;
  transition: opacity 600ms linear;
  z-index: 10;
}

.middle .resto_card_group div .noBG {
  opacity: 1;
  z-index: 5;
  -webkit-transition: opacity 600ms linear;
  transition: opacity 600ms linear;
}

.resto_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  border: 1px none black;
  border-radius: 10px;
  width: 89.32%;
  height: 250px;
  margin-left: 5.34%;
  margin-right: 5.34%;
  -webkit-box-shadow: 1px 1px 10px #c8c8c8;
          box-shadow: 1px 1px 10px #c8c8c8;
}

.resto_card:hover {
  -webkit-box-shadow: 1px 1px 10px #505050;
          box-shadow: 1px 1px 10px #505050;
}

.resto_card img {
  border-radius: 10px 10px 0px 0px;
  height: 175px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: -1px;
}

.resto_card .new_badge {
  background-color: #99E2D0;
  color: #1b6150;
  font-family: 'Roboto', serif;
  font-weight: bold;
  position: absolute;
  padding: 0.5rem;
  border-radius: 5px;
  top: 1rem;
  right: 0.75rem;
}

.resto_card_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.resto_card_info div h2 {
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.resto_card_info div p {
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.resto_card_info .fa-heart {
  padding-bottom: 15px;
  padding-left: 1px;
  padding-right: 1px;
  cursor: pointer;
  position: absolute;
}

.resto_card_info i {
  position: relative;
  bottom: 1.5rem;
  right: 1.5rem;
  color: black;
  font-weight: normal;
  font-size: 30px;
  height: 16px;
}

.resto_card_info .BG {
  background: -webkit-gradient(linear, left bottom, right top, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to top right, #FF79DA, #9356DC);
  color: rgba(0, 0, 0, 0);
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  -webkit-transition: opacity 600ms linear;
  transition: opacity 600ms linear;
  z-index: 10;
}

.resto_card_info .noBG {
  opacity: 1;
  z-index: 5;
}

/*Footer*/
footer {
  background-color: #353535;
  color: white;
  padding: 5px 0px 5px 10px;
}

footer .logo_f {
  background-image: url("../images/logo/ohmyfood_white.png");
  background-repeat: no-repeat;
  height: 25px;
  background-size: 30%;
  position: relative;
  /* left: 20px; */
  top: 5px;
}

footer div p {
  font-size: 12px;
  color: white;
}

footer div a {
  text-decoration: none;
}

footer div a:hover {
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}

footer .f_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  line-height: 0.4;
  margin-top: 15px;
}

footer .resto, footer .partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .resto .fas, footer .partner .fas {
  font-size: 12px;
  position: relative;
  top: 10px;
}

footer .resto p, footer .partner p {
  position: relative;
  left: 10px;
}

/* Keyframes */
@-webkit-keyframes bg_change {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bg_change {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  75% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  75% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* Responsive */
/* Mobile */
@media screen and (max-width: 767px) {
  .prez p {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* Tablette */
@media screen and (min-width: 768px) {
  .logo_h {
    background-size: 35%;
  }
  .prez h1, .prez p {
    position: relative;
    top: 20%;
  }
  .prez .button {
    position: relative;
    bottom: 20%;
    margin-top: auto;
  }
  .fct .fct_group .Fst .fas {
    right: calc(25% - 5px);
  }
  .fct .fct_group .Snd .fas {
    right: 25%;
  }
  .fct .fct_group .Trd .fas {
    right: calc(25% - 3px);
  }
  .fct .fct_group #Fst_txt {
    right: 12%;
  }
  .fct .fct_group #Snd_txt {
    right: 92%;
  }
  .fct .fct_group #Trd_txt {
    right: 31%;
  }
  footer .logo_f {
    background-size: 20%;
    height: 30px;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .logo_h {
    background-size: 30%;
    background-color: white;
    width: 100%;
  }
  .local {
    width: 100%;
  }
  .prez {
    /* width: 100%; */
  }
  .prez h1, .prez p {
    position: relative;
    top: 20%;
  }
  .prez .button {
    position: relative;
    bottom: 20%;
    margin-top: auto;
  }
  .fct {
    width: 100%;
  }
  .fct .fct_group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .fct .fct_group .Fst .fas {
    right: 10%;
  }
  .fct .fct_group .Snd .fas {
    right: 10%;
  }
  .fct .fct_group .Trd .fas {
    right: 10%;
  }
  .fct .fct_group #Fst_txt {
    right: 5%;
  }
  .fct .fct_group #Snd_txt {
    right: 5%;
  }
  .fct .fct_group #Trd_txt {
    right: 5%;
  }
  .middle {
    width: calc(100% - 20px);
  }
  .middle .resto_card_group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .middle .resto_card_group .group_one, .middle .resto_card_group .group_two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    /* right: 60px; */
  }
  .middle .resto_card_group .pale, .middle .resto_card_group .note, .middle .resto_card_group .del, .middle .resto_card_group .fr {
    position: relative;
  }
  .middle .resto_card_group div div {
    /* {
                        bottom: 5.8rem;
                        right: 5%;
                        color: blue;
                    }
                    #heart_f-icon-BG, #heart_f-icon-noBG{
                        bottom: 5.8rem;
                        right: 5%;
                        color: green;
                    }
                    #heart_d-icon-BG, #heart_d-icon-noBG{
                        bottom: 5.8rem;
                        right: 5%;
                        color: pink;
                    } */
  }
  .middle .resto_card_group div div #heart_p-icon-BG, .middle .resto_card_group div div #heart_p-icon-noBG, .middle .resto_card_group div div #heart_n-icon-BG, .middle .resto_card_group div div #heart_n-icon-noBG, .middle .resto_card_group div div #heart_f-icon-BG, .middle .resto_card_group div div #heart_f-icon-noBG, .middle .resto_card_group div div #heart_d-icon-BG, .middle .resto_card_group div div #heart_d-icon-noBG {
    bottom: 5.8rem;
    right: 5%;
    color: black;
  }
  .middle .resto_card_group div div .resto_card {
    width: 450px;
  }
  footer {
    width: calc(100% - 10px);
    padding: 5px 0px 5px 10px;
  }
  footer .logo_f {
    background-size: 15%;
    width: 85%;
    height: 35px;
  }
}

@media screen and (min-width: 1440px) {
  .logo_h {
    background-size: 20%;
  }
  .prez {
    /* h1{
                position: relative;
                top: 60%;
            }
            p{
                position: relative;
                bottom: 50%;
            }
            .button{
                position: relative;
                bottom: 35%;
            } */
  }
  .middle .resto_card_group div div .resto_card {
    width: 600px;
  }
  footer .logo_f {
    background-size: 10%;
    height: 35px;
  }
}

@media screen and (min-width: 1700px) {
  .prez {
    /* h1{
                position: absolute;
                top: 65%;
                left: 23%;
            }
            p{
                position: relative;
                top: 60%;
                left: 0%;
            }
            .button{
                position: relative;
                bottom: 50%;
            } */
  }
  .logo_h {
    background-size: 15%;
  }
}
/*# sourceMappingURL=index.css.map */