/*Colors*/
$color-first:#9356DC;
$color-first-light: #C588FF;
$color-first-alt:#F5EDFF;
$color-second: #FF79DA;
$color-second-light: #FFABFF;
$color-third:#99E2D0;
$color-third-alt:#357E6C;
$color-four: #353535;
$color-five: #eaeaea;
$color-six: #f6f6f6;
$color-seven: #7e7e7e;

/*Font*/
@font-face{         /*Shrikhand*/
    font-family: 'Shrikhand';
    src: url(/GhilesHallou_03_01062021/polices/shrikhand/Shrikhand-Regular.otf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face{         /*Roboto - Regular*/
    font-family: 'Roboto';
    src: url(/GhilesHallou_03_01062021/polices/Roboto/Roboto-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face{         /*Roboto - Italic*/
    font-family: 'Roboto';
    src: url(/GhilesHallou_03_01062021/polices/Roboto/Roboto-Italic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face{         /*Roboto - Bold*/
    font-family: 'Roboto';
    src: url(/GhilesHallou_03_01062021/polices/Roboto/Roboto-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face{         /*Roboto - Black*/
    font-family: 'Roboto';
    src: url(/GhilesHallou_03_01062021/polices/Roboto/Roboto-Black.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face{         /*Roboto - Italic/Bold*/
    font-family: 'Roboto';
    src: url(/GhilesHallou_03_01062021/polices/Roboto/Roboto-BoldItalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
}

html{
    overflow-y: auto;
    overflow-x: hidden;
}
body{
    font-family: 'Roboto', serif;
    width: 100%;
    margin: 0;
    
}
.loader_item {
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    animation: jump 1s;
    animation-iteration-count: 1;
    z-index: 10;
    margin-left: 10px;
    
}
#loader_item_1{
    background-color: $color-first;
    
}
#loader_item_2{
    background-color: $color-second;
    animation-delay: .25s;
}
#loader_item_3{
    background-color: $color-third;
    animation-delay: .5s;
}

.loader__itemContainer {
    display: flex;
    width: 5rem;
    justify-content: space-between;
}

.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: hsla(0,0%,100%,.9);
    animation: loader .01s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Header*/
.logo_h{
    background-image: url("../images/logo/ohmyfood.png");
    border: 1px none;
    height: 65px;
    background-size: 44%;
    background-repeat: no-repeat;
    background-position: center;
    
    
    
}

.local{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px none;
    background-color: $color-five;
    
    
    .fas{
        font-size: 1em;
        position: relative;
        top: 15px;
        right: 25px;
    }
    p{
        font-weight: bold;
        font-size: 15px;
    }
    
}
.prez{
    position: relative;
    height: 287px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-six;
    h1, p, div{
        text-align: center;
    }
    h1{
        font-size: 25px;
        font-weight: bold;
        position: relative;
                top: 15%;
        
    }
    p{
        position: relative;
                top: 15%;
        font-size: 15px;
    }
    .button{
        margin-top: auto;
        position: relative;
                bottom: 20%;
        a{
            border: 1px none black;
            border-radius: 30px;
            padding: 15px;
            text-decoration: none;
            color: white;
            background: linear-gradient(to bottom right, $color-second, $color-first);
            box-shadow: 1px 1px 10px rgb(200, 200, 200);
            &:hover{
                box-shadow: 1px 1px 10px rgb(80, 80, 80);
                background: linear-gradient(to bottom right, $color-second-light, $color-first-light);
            }
        }
    }
    
}

.fct{
    margin-bottom: 5%;
    h2{
        padding-left: 5%;
    }
    .fct_group{
        div{
            border: 1px none black;
            border-radius: 18px;
            margin: 5% 0px 0px 5%;
            padding-bottom: 1px;
            padding-left: 10px;
            width: 85%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            background-color: $color-six;
            box-shadow: 1px 1px 10px rgb(230, 227, 227);
            .fas{
                position: relative;
                right: 30px;
                top: 20px;
            }
            .fa-mobile-alt{
                right: 22px;
            }
            .fa-store{
                right: 28px;
            }
            .fct_txt{
                font-weight: bold;
                position: relative;
                right: 10%;
            }
            #Snd_txt{
                right: 14%;
            }
            #Trd_txt{
                right: 13%;
            }
            .nb{
                border: 2px solid $color-first;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                font-weight: bold;
                text-align: center;
                padding-top: 0px;
                padding-bottom: 0px;
                background-color: $color-first;
                color: white;
                position: relative;
                right: 10%;
            }
        }
    }
    div div{
        border: 1px none black;
        border-radius: 18px;
        margin: 5% 0px 0px 5%;
        padding-bottom: 1px;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: $color-six;
        box-shadow: 1px 1px 10px rgb(230, 227, 227);
        .fas{
            position: relative;
            right: 30px;
            top: 20px;
        }
        .fa-mobile-alt{
            right: 22px;
        }
        .fa-store{
            right: 28px;
        }
        .fct_txt{
            font-weight: bold;
            position: relative;
            right: 10%;
        }
        #Snd_txt{
            right: 14%;
        }
        #Trd_txt{
            right: 13%;
        }
        .nb{
            border: 2px solid $color-first;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            font-weight: bold;
            text-align: center;
            padding-top: 0px;
            padding-bottom: 0px;
            background-color: $color-first;
            color: white;
            position: relative;
            right: 10%;
        }
    }
    
    .Fst .fas, .Snd .fas{
        color: $color-seven;
    }
    .Trd{
        background-color: $color-first-alt;
        .fa-store{
            color: $color-first;
        }
    }
    
}

/*Section*/
.middle{
    background-color: $color-six;
    padding: 5px 10px 10px 10px;
    .section_title{
        padding-left: 5%;
    }
    .resto_card_group {
        .group_two, .group_one{
            position: relative;
            
        }
        div{
            input[type=checkbox]{
                display: none;
            }
            
                #heart_p:checked ~  .pale .btn-heart #heart_p-btn #heart_p-icon-BG, #heart_n:checked ~  .note .btn-heart #heart_n-btn #heart_n-icon-BG, #heart_f:checked ~  .fr .btn-heart #heart_f-btn #heart_f-icon-BG, #heart_d:checked ~  .del .btn-heart #heart_d-btn #heart_d-icon-BG{
                    opacity: 1;
                }
                #heart_p:checked ~ .pale .btn-heart #heart_p-btn #heart_p-icon-noBG, #heart_n:checked ~  .note .btn-heart #heart_n-btn #heart_n-icon-noBG, #heart_f:checked ~  .fr .btn-heart #heart_f-btn #heart_f-icon-noBG, #heart_d:checked ~  .del .btn-heart #heart_d-btn #heart_d-icon-noBG{
                    opacity: 0;
                    
                }
            
            a {
                text-decoration: none;
            
            }
            .btn-heart{
                height: 70px;
            }
            .fa-heart{
                padding-bottom: 15px;
                padding-left: 1px;
                padding-right: 1px;
                cursor: pointer;
                position: absolute;  
            }
            
            
            
            i{
                
                bottom: 1.5rem;
                right: 1.5rem;
                color: black;
                font-weight: normal;
                font-size: 30px;
                height: 16px;
                
            }
            #heart_p-icon-BG, #heart_p-icon-noBG{
                bottom: 25.6rem;
                right: 10%;
            }
            #heart_n-icon-BG, #heart_n-icon-noBG{
                bottom: 5.8rem;
                right: 10%;
            }
            #heart_f-icon-BG, #heart_f-icon-noBG{
                bottom: 25.6rem;
                right: 10%;
            }
            #heart_d-icon-BG, #heart_d-icon-noBG{
                bottom: 5.8rem;
                right: 10%;
            }
            .BG{
                background: linear-gradient(to top right, $color-second, $color-first);
                color: rgba(0, 0, 0, 0);
                font-weight: bold;
                -webkit-text-fill-color: transparent;
                background-clip:text;
                -webkit-background-clip:text;
                opacity: 0;
                transition: opacity 600ms linear;
                z-index: 10;
            }
            .noBG{
                opacity: 1;
                z-index: 5;
                transition: opacity 600ms linear;
            }
        }
    }
}
.resto_card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    border: 1px none black;
    border-radius: 10px;
    width: 89.32%;
    height: 250px;
    margin-left: 5.34%;
    margin-right: 5.34%;
    
    box-shadow: 1px 1px 10px rgb(200, 200, 200);
    &:hover{
        box-shadow: 1px 1px 10px rgb(80, 80, 80);
    }

    img{
        border-radius: 10px 10px 0px 0px;
        height: 175px;
        width: 100%;
        object-fit:cover;
        position: relative;
        top: -1px;
    }
    .new_badge{
        background-color: $color-third;
        color: darken($color-third, 50%);
        font-family: 'Roboto', serif;
        font-weight: bold;
        position: absolute;
        padding: 0.5rem;
        border-radius: 5px;
        top: 1rem;
        right: 0.75rem;
    }
    
}

.resto_card_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    div h2{
        font-size: 18px;
        color: black;
        text-decoration: none;
        
    }

    div p{
        font-size: 14px;
        text-decoration: none;
        color: black;
    }
    
    
    .fa-heart{
        padding-bottom: 15px;
        padding-left: 1px;
        padding-right: 1px;
        cursor: pointer;
        position: absolute;   
    }
    
    
    
    i{
        position: relative;
        bottom: 1.5rem;
        right: 1.5rem;
        color: black;
        font-weight: normal;
        font-size: 30px;
        height: 16px;
        
    }
    
    .BG{
        background: linear-gradient(to top right, $color-second, $color-first);
        color: rgba(0, 0, 0, 0);
        font-weight: bold;
        -webkit-text-fill-color: transparent;
        background-clip:text;
        -webkit-background-clip:text;
        opacity: 0;
        transition: opacity 600ms linear;
        z-index: 10;
    }
    .noBG{
        opacity: 1;
        z-index: 5;
    }
    
}


    



/*Footer*/

footer{
    background-color: $color-four;
    color: white;
    padding: 5px 0px 5px 10px;
    .logo_f{
        background-image: url("../images/logo/ohmyfood_white.png");
        background-repeat: no-repeat;
        height: 25px;
        background-size: 30%;
        position: relative;
        left: 20px;
        top: 5px;
    }
    div p{
        font-size: 12px;
        color: white;
        
    }
    div a{
        text-decoration: none;
        &:hover{
            text-decoration: underline white;
        }
    }

    .f_txt{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        line-height: 0.4;
        margin-top: 15px;
    }
    .resto, .partner{
        display: flex;
        flex-direction: row;
        .fas{
            font-size: 12px;
            position: relative;
            top: 10px;
        }
        p{
            position: relative;
            left: 10px;
        }
    }
}



/* Keyframes */


@keyframes bg_change {
    0%{
        opacity: 0 ;
    }
    100%{
        opacity: 1;
    }
}

@keyframes loader{
    100%{
        opacity: 0;
        z-index: -10;
    }
}
@keyframes jump{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(0.5rem);
    }
    75%{
        transform: translateY(-0.5rem);
    }
    100%{
        transform: translateY(0);
    }
}


/* Responsive */
    /* Tablette */
    @media screen and (min-width: 768px){
        .logo_h{
            background-size: 35%;
        }
        .prez{

            h1, p{
                position: relative;
                top: 20%;
            }
            .button{
                position: relative;
                bottom: 20%;
                margin-top: auto;
            }
        }
        .fct{
            .fct_group{
                .Fst .fas{
                    right: calc(25% - 5px);
                }
                .Snd .fas{
                    right: 25%;
                }
                .Trd .fas{
                    right: calc(25% - 3px);
                }
                #Fst_txt{
                    right: 12%;
                }
                #Snd_txt{
                    right: 92%;
                }
                #Trd_txt{
                    right: 31%;
                }
            }
        }
        footer{
            .logo_f{
                background-size: 20%;
                height: 30px;
            }
        }
    }

    /* Desktop */
    @media screen and (min-width: 1024px) {
        
        .logo_h{
            background-size: 30%;
            background-color: white;
            width: 100%;
        }
        .local{
            width: 100%;
        }
        .prez{
            /* width: 100%; */
            
            h1, p{
                position: relative;
                top: 20%;
            }
            .button{
                position: relative;
                bottom: 20%;
                margin-top: auto;
            }
        }
        .fct{
            width: 100%;
            .fct_group{
                display: flex;
                flex-direction: row;
                .Fst .fas{
                    right: 10%;
                }
                .Snd .fas{
                    right: 10%;
                }
                .Trd .fas{
                    right: 10%;
                }
                #Fst_txt{
                    right: 5%;
                }
                #Snd_txt{
                    right: 5%;
                }
                #Trd_txt{
                    right: 5%;
                }
            }
        }
        .middle{
            width: calc(100% - 20px);
            
            .resto_card_group{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                .group_one, .group_two{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    /* right: 60px; */
                    
                }
                .pale, .note, .del, .fr{
                    position: relative;
                }
                div div {
                    #heart_p-icon-BG, #heart_p-icon-noBG, #heart_n-icon-BG, #heart_n-icon-noBG, #heart_f-icon-BG, #heart_f-icon-noBG, #heart_d-icon-BG, #heart_d-icon-noBG{
                        bottom: 5.8rem;
                        right: 5%;
                        color: black;
                    }
                    /* {
                        bottom: 5.8rem;
                        right: 5%;
                        color: blue;
                    }
                    #heart_f-icon-BG, #heart_f-icon-noBG{
                        bottom: 5.8rem;
                        right: 5%;
                        color: green;
                    }
                    #heart_d-icon-BG, #heart_d-icon-noBG{
                        bottom: 5.8rem;
                        right: 5%;
                        color: pink;
                    } */
                    .resto_card{
                        width: 450px;
                    }
                }
            }
        }
        footer{
            width: calc(100% - 10px);
            padding: 5px 0px 5px 10px;
            .logo_f{
                background-size: 15%;
                width: 85%;
                height: 35px;
            }
        }
    }
    
    
    @media screen and (min-width: 1440px) {
        .logo_h{
            background-size: 20%/* 475.75px */;
        }
        .prez{
            /* h1{
                position: relative;
                top: 60%;
            }
            p{
                position: relative;
                bottom: 50%;
            }
            .button{
                position: relative;
                bottom: 35%;
            } */
        }
        .middle{
            .resto_card_group{
                div div{
                    .resto_card{
                        width: 600px;
                    }
                }
            }
        }
        footer{
            .logo_f{
                background-size: 10%;
                height: 35px;
            }
        }
    }
    @media screen and (min-width: 1700px) {
        .prez{
            /* h1{
                position: absolute;
                top: 65%;
                left: 23%;
            }
            p{
                position: relative;
                top: 60%;
                left: 0%;
            }
            .button{
                position: relative;
                bottom: 50%;
            } */
        }
        .logo_h{
            background-size: 15%;
        }
    }