/*Colors*/
$color-first:#9356DC;
$color-first-alt:#F5EDFF;
$color-second: #FF79DA;
$color-third:#99E2D0;
$color-four: #353535;
$color-five: #eaeaea;
$color-six: #f6f6f6;
$color-seven: #7e7e7e;
/* --------------------- */

/* Variable delay anime */
$supp-delay: 333ms;
$e_tit-delay: 500ms;
$e_1-delay: $e_tit-delay + $supp-delay;
$e_2-delay: $e_1-delay + $supp-delay;
$e_3-delay: $e_2-delay + $supp-delay;
$e_4-delay: $e_3-delay + $supp-delay;
$p_tit-delay: $e_4-delay + $supp-delay;
$p_1-delay: $p_tit-delay + $supp-delay;
$p_2-delay: $p_1-delay + $supp-delay;
$p_3-delay: $p_2-delay + $supp-delay;
$d_tit-delay: $p_3-delay + $supp-delay;
$d_1-delay: $d_tit-delay + $supp-delay;
$d_2-delay: $d_1-delay + $supp-delay;
$d_3-delay: $d_2-delay + $supp-delay;
/* ----------------------------- */


/*Font*/
@font-face{         /*Shrikhand*/
    font-family: 'Shrikhand';
    src: url(/polices/shrikhand/Shrikhand-Regular.otf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face{         /*Roboto - Regular*/
    font-family: 'Roboto';
    src: url(/polices/Roboto/Roboto-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face{         /*Roboto - Italic*/
    font-family: 'Roboto';
    src: url(/polices/Roboto/Roboto-Italic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face{         /*Roboto - Bold*/
    font-family: 'Roboto';
    src: url(/polices/Roboto/Roboto-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face{         /*Roboto - Black*/
    font-family: 'Roboto';
    src: url(/polices/Roboto/Roboto-Black.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face{         /*Roboto - Italic/Bold*/
    font-family: 'Roboto';
    src: url(/polices/Roboto/Roboto-BoldItalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
}
body{
    font-family: 'Roboto', serif;
}
header{
    .bloc{
        margin-top: -35px;
        a{
            font-size: 25px;
            position: relative;
            top: 50px;
            left: 15px;
            color: black;
        }
        .logo_h{
            background-image: url("/images/logo/ohmyfood.png");
            border: 1px none;
            height: 65px;
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: -8px;
            margin-right: -10px;
            padding-left: 8px;
            padding-bottom: 10px;
        }
    }
    .back_img{
        width: 100%;
        height: 300px;
        margin: -10px;
        padding: 10px;
        position: relative;
        z-index: 0;
        background-image: url("/images/restaurants/enchantee.jpg");
        background-size: cover;
        
        

    }
}
h1{
    color: black;
    font-family: 'Shrikhand', serif;
    font-size: 25px;
    padding-left: 20px;
    
}

input[type=checkbox]{
    display: none;
}
.far{
    padding-bottom: 15px;
    padding-left: 1px;
    padding-right: 1px;
}
#heart:checked ~ .btn-heart #heart-btn #heart-icon{
    background: linear-gradient(to top right, $color-second, $color-first);
    color: rgba(0, 0, 0, 0);
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    background-clip:text;
    -webkit-background-clip:text;
}

.middle{
    background-color: $color-six;
    margin: -10px;
    padding: 10px;
    border: 1px none black;
    border-radius: 50px 50px 0px 0px;
    position: relative;
    top: -25px;
    z-index: 1;
    
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .btn_fav{
        position: relative;
        top: 25%;
        right: 175%;
        font-size: 25px;
    }
}
section{
    h2{
        font-size: 15px;
        font-weight: normal;
        padding-left: 20px;
    }
    /* Btn radio choix des plats */
    .btn-choice{
        display: block;
        position: absolute;
        padding: 0px;
        margin: 0px;
        cursor: pointer;
        height: 72px;
        width: 90%;
        z-index: 5;
        opacity: 0;
        border-radius: 10px;
        border: 1px solid black;

    }
    input[type=radio]{
        display: none;
    }
    
    input:checked ~ .price {
        animation: price_in 1000ms 0ms both ease-in-out;
    }
    input:not(:checked) ~ .price{
        animation: price_out 1000ms 0ms both ease-in-out;
    }
    /* ---------------------------------- */        
    article{
        box-shadow: 1px 1px 10px rgb(200, 200, 200);
        background-color: white;
        border: 1px none black;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 25px auto;
        &:hover{
            box-shadow: 1px 1px 10px rgb(80, 80, 80);
        }
        
        div{
            margin-left: 10px;
            color: black;
            
            .azerty{
                margin-bottom: -10px;
                font-weight: bold;
                font-size: 17px;
                
            }
            .qwerty{
                font-size: 14px;
            }
        }
        .price{
            margin: 40px 25px 0px 0px;
            color: $color-four;
            font-weight: bold;
            font-size: 14px;
            
        }
    }
    /* anime apparition */
    #e_title{
        animation: title 1000ms $e_tit-delay both ease-in-out;
    }
    #p_title{
        animation: title 1000ms $p_tit-delay both ease-in-out;
    }
    #d_title{
        animation: title 1000ms $d_tit-delay both ease-in-out;
    }
    #entree_1{
        animation: art 1000ms $e_1-delay both ease-in-out;
    }
    #entree_2{
        animation: art 1000ms $e_2-delay both ease-in-out;
    }
    #entree_3{
        animation: art 1000ms $e_3-delay both ease-in-out;
    }
    #entree_4{
        animation: art 1000ms $e_4-delay both ease-in-out;
    }
    #plats_1{
        animation: art 1000ms $p_1-delay both ease-in-out;
    }
    #plats_2{
        animation: art 1000ms $p_2-delay both ease-in-out;
    }
    #plats_3{
        animation: art 1000ms $p_3-delay both ease-in-out;
    }
    #desserts_1{
        animation: art 1000ms $d_1-delay both ease-in-out;
    }
    #desserts_2{
        animation: art 1000ms $d_2-delay both ease-in-out;
    }
    #desserts_3{
        animation: art 1000ms $d_3-delay both ease-in-out;
    }
    /* ------------------------------------------------------ */
}


.button{
    margin: 75px 25%;
    
    .btn{
        border: 1px none black;
        border-radius: 30px;
        
        padding: 20px 50px;
        text-decoration: none;
        color: white;
        background: linear-gradient(to bottom right, $color-second, $color-first);
        box-shadow: 1px 1px 10px rgb(200, 200, 200);
        &:hover{
            box-shadow: 1px 1px 10px rgb(80, 80, 80);
        }
    }
}

footer{
    background-color: $color-four;
    color: white;
    margin: 0px -10px -20px -10px;
    padding: 5px 0px 5px 10px;
    .logo_f{
        background-image: url("/images/logo/ohmyfood.png");
    }
    div p{
        font-size: 12px;
        color: white;
        
    }
    div a{
        text-decoration: none;
        &:hover{
            text-decoration: underline white;
        }
    }

    .f_txt{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .partner, .legal, .contact{
            margin: -15px 0px 0px 0px;
        }
    }
    .resto, .partner{
        display: flex;
        flex-direction: row;
        .fas{
            font-size: 12px;
            position: relative;
            top: 15px;
        }
        p{
            position: relative;
            left: 10px;
        }
    }
}


/* Keyframes */

@keyframes price_in{
    0%{
        transform: translate(0%, 0);

        
    }

    100%{
        transform: translate(-200%, 0);
        
    }
}

@keyframes price_out{
    0%{
        transform: translate(-200%, 0);
        
    }

    100%{
        transform: translate(0%, 0);
        
    }
}

@keyframes title {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes art {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}