/*Colors*/
$color-first:#9356DC;
$color-first-alt:#F5EDFF;
$color-first-light: #C588FF;
$color-second: #FF79DA;
$color-second-light: #FFABFF;
$color-third:#99E2D0;
$color-four: #353535;
$color-five: #eaeaea;
$color-six: #f6f6f6;
$color-seven: #7e7e7e;
/* ------------------------ */

/* Variable delay anime */
$supp-delay: 150ms;
$e_tit-delay: 250ms;
$e_1-delay: $e_tit-delay + $supp-delay;
$e_2-delay: $e_1-delay + $supp-delay;
$e_3-delay: $e_2-delay + $supp-delay;
$e_4-delay: $e_3-delay + $supp-delay;
$p_tit-delay: $e_3-delay + $supp-delay;
$p_tit-delay-alt: $e_4-delay + $supp-delay;
$p_1-delay: $p_tit-delay + $supp-delay;
$p_2-delay: $p_1-delay + $supp-delay;
$p_3-delay: $p_2-delay + $supp-delay;
$d_tit-delay: $p_3-delay + $supp-delay;
$d_1-delay: $d_tit-delay + $supp-delay;
$d_2-delay: $d_1-delay + $supp-delay;
$d_3-delay: $d_2-delay + $supp-delay;
/* ----------------------------- */

/*Font*/
@font-face{         /*Shrikhand*/
    font-family: 'Shrikhand';
    src: url(/GhilesHallou_03_01062021/polices/shrikhand/Shrikhand-Regular.otf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face{         /*Roboto - Regular*/
    font-family: 'Roboto';
    src: url(/GhilesHallou_03_01062021/polices/Roboto/Roboto-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face{         /*Roboto - Italic*/
    font-family: 'Roboto';
    src: url(/GhilesHallou_03_01062021/polices/Roboto/Roboto-Italic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face{         /*Roboto - Bold*/
    font-family: 'Roboto';
    src: url(/GhilesHallou_03_01062021/polices/Roboto/Roboto-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face{         /*Roboto - Black*/
    font-family: 'Roboto';
    src: url(/GhilesHallou_03_01062021/polices/Roboto/Roboto-Black.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face{         /*Roboto - Italic/Bold*/
    font-family: 'Roboto';
    src: url(/GhilesHallou_03_01062021/polices/Roboto/Roboto-BoldItalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
}
body{
    font-family: 'Roboto', serif;
    margin: 0;
    
}
header{
    .bloc{
        margin-top: -35px;
        a{
            font-size: 25px;
            position: relative;
            top: 50px;
            left: 15px;
            color: black;
        }
        .logo_h{
            background-image: url("../images/logo/ohmyfood.png");
            border: 1px none;
            height: 65px;
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: center;
            
        }
    }
    .back_img{
        width: 100%;
        height: 300px;
        
        position: relative;
        z-index: 1;
        
        background-size: cover;
    }
    #delice_bg{
        background-image: url("../images/restaurants/delice.jpg");
    }
    #palette_bg{
        background-image: url("../images/restaurants/palette.jpg");
    }
    #enchantee_bg{
        background-image: url("../images/restaurants/enchantee.jpg");
    }
    #french_bg{
        background-image: url("../images/restaurants/french.jpg");
    }
}
h1{
    color: black;
    font-family: 'Shrikhand', serif;
    font-size: 23px;
    padding-left: 20px;
    
}

input[type=checkbox]{
    display: none;
}
.far{
    padding-bottom: 15px;
    padding-left: 1px;
    padding-right: 1px;
    position: relative;
    left: 25px;
}
#heart:checked ~ .btn-heart #heart-btn #heart-icon-BG{
    opacity: 1;
}
#heart:checked ~ .btn-heart #heart-btn #heart-icon-noBG{
    opacity: 1;
    background: linear-gradient(to top right, $color-second, $color-first);
    -webkit-text-fill-color: transparent;
    background-clip:text;
    -webkit-background-clip:text;
    
}

.middle{
    background-color: $color-six;
    
    border: 1px none black;
    border-radius: 50px 50px 0px 0px;
    position: relative;
    top: -55px;
    z-index: 1;
    
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .btn_fav{
        position: relative;
        /* top: 25%;
        right: 175%; */
        font-size: 25px;
        cursor: pointer;
        #heart-icon-noBG{
            position: absolute ;
            left: -60px;
            top: 40px;
            bottom: -35px;
            opacity: 1;
            z-index: 5;

        }
        #heart-icon-BG{
            position: absolute ;
            left: -60px;
            top: 40px;
            bottom: -35px;
            opacity: 0;
            transition: opacity 600ms linear;
            background: linear-gradient(to top right, $color-second, $color-first);
            color: rgba(0, 0, 0, 0);
            font-weight: bold;
            -webkit-text-fill-color: transparent;
            background-clip:text;
            -webkit-background-clip:text;
            z-index: 10;
        }
    }
    
}
section{
    position: relative;
    h2{
        font-size: 15px;
        font-weight: normal;
        padding-left: 20px;
    }
    /* Tiret Vert sous le titre */
    .tiret_vert{
        border: 1px black none;
        height: 5px;
        width: 40px;
        position: absolute;
        left: 20px;
        top: 25px;
        background-color: $color-third;
    }

    /* Btn radio choix des plats */
    .btn-choice{
        display: block;
        position: absolute;
        padding: 0px;
        margin: 0px;
        cursor: pointer;
        height: 72px;
        width: 90%;
        z-index: 5;
        opacity: 0;
        border-radius: 10px;
        border: 1px solid black;

    }
    input[type=radio]{
        display: none;
    }
    input:checked{
        & ~ .price{
            transform: translate(-200%, 0); 
        }
        & ~ .progress{
            transform: scaleX(1);
        }
        & ~ .text_menu{
            .azerty, .qwerty{
                width: 200px;
            }
            
        }
    }
    /* input:checked ~ .price {
        transform: translate(-200%, 0)
    }
    input:checked ~ .progress {
        transform: scaleX(1);
        
    } */
      /* input:not(:checked) ~ .price{
        
    } */
    /* ---------------------------------- */    
    article{
        box-shadow: 1px 1px 10px rgb(200, 200, 200);
        background-color: white;
        width: 90%;
        border: 1px none black;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 25px auto;
        & > .price{
            transition: all 400ms linear;
            
        }
        
        
        & > .progress{
            transition: all 400ms linear;   
        }
        
        &:hover {
            & > .progress{
                & > i{
                    /* transform: rotate(1turn); */
                    animation: rotate 400ms 200ms;
                    
                }
                transform: scaleX(1); 
            }
            & > .price{
                transform: translate(-200%, 0); 
            }
            .azerty, .qwerty{
                width: 200px;
            }
            
        }
        
        .progress{
            background-color: $color-third;
            border: 1px none black;
            border-radius: 0px 10px 10px 0px;
            width: 15%;
            transform: scaleX(0);
            transform-origin: 100% 100%;
            i{
                color: white;
                position: relative;
                left: calc(50% - 12px);
                top: calc(50% - 12px);
                font-size: 25px;
                transition: all 400ms linear;
            }
        }
        
        
        .text_menu{
            margin-left: 10px;
            color: black;
            
            .azerty{
                margin-bottom: -10px;
                font-weight: bold;
                font-size: 16px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 0px;
            }
            .qwerty{
                font-size: 13px;
                transition: all 400ms linear;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                

                
            }
        }
        .price{
            margin: 40px 25px 0px 0px;
            color: $color-four;
            font-weight: bold;
            font-size: 14px;
            position: absolute;
            left: 85%;
            
        }
        
    }
    /* price placement mobile w=425 */
        
    /* ----------------------------------------------------------- */
    /* anime apparition */
    #e_title, #e_tiret{
        animation: title 1000ms $e_tit-delay both ease-in-out;
    }
    .entree_1{
        animation: art 1000ms $e_1-delay both ease-in-out;
    }
    .entree_2{
        animation: art 1000ms $e_2-delay both ease-in-out;
    }
    .entree_3{
        animation: art 1000ms $e_3-delay both ease-in-out;
    }
    .entree_4{
        animation: art 1000ms $e_4-delay both ease-in-out;
    }
    #p_title, #p_tiret{
        animation: title 1000ms $p_tit-delay both ease-in-out;
    }
    #p_title_alt{
        animation: title 1000ms $p_tit-delay-alt both ease-in-out;
    }
    
    .plats_1{
        animation: art 1000ms $p_1-delay both ease-in-out;
    }
    .plats_2{
        animation: art 1000ms $p_2-delay both ease-in-out;
    }
    .plats_3{
        animation: art 1000ms $p_3-delay both ease-in-out;
    }
    #d_title, #d_tiret{
        animation: title 1000ms $d_tit-delay both ease-in-out;
    }
    .desserts_1{
        animation: art 1000ms $d_1-delay both ease-in-out;
    }
    .desserts_2{
        animation: art 1000ms $d_2-delay both ease-in-out;
    }
    .desserts_3{
        animation: art 1000ms $d_3-delay both ease-in-out;
    }
    /* ------------------------------------------------------ */
    
}

.action-container {
    text-align: center;
}
.button{
    margin: {
        top: 75px;
        bottom: 75px;
    }
    
    .btn{
        border: 1px none black;
        border-radius: 30px;
        
        padding: 20px 50px;
        text-decoration: none;
        color: white;
        background: linear-gradient(to bottom right, $color-second, $color-first);
        box-shadow: 1px 1px 10px rgb(200, 200, 200);
        &:hover{
            box-shadow: 1px 1px 10px rgb(80, 80, 80);
            background: linear-gradient(to bottom right, $color-second-light, $color-first-light);
        }
    }
}

/*Footer*/

footer{
    background-color: $color-four;
    color: white;
    padding: 5px 0px 5px 10px;
    .logo_f{
        background-image: url("../images/logo/ohmyfood_white.png");
        background-repeat: no-repeat;
        height: 25px;
        background-size: 30%;
        position: relative;
        left: 20px;
        top: 5px;
    }
    div p{
        font-size: 12px;
        color: white;
        
    }
    div a{
        text-decoration: none;
        &:hover{
            text-decoration: underline white;
        }
    }

    .f_txt{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        line-height: 0.4;
        margin-top: 15px;
    }
    .resto, .partner{
        display: flex;
        flex-direction: row;
        .fas{
            font-size: 12px;
            position: relative;
            top: 10px;
        }
        p{
            position: relative;
            left: 10px;
        }
    }
}


/* Keyframes */

@keyframes price_in{
    0%{
        transform: translate(0%, 0);

        
    }

    100%{
        transform: translate(-200%, 0);
        
    }
}

@keyframes price_out{
    0%{
        transform: translate(-200%, 0);
        
    }

    100%{
        transform: translate(0%, 0);
        
    }
}

@keyframes title {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes art {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg)
    }
}

/* Responsive */
    /* Tablette */
    @media screen and (min-width: 768px) {
        header{
            .bloc{
                
                .logo_h{
                    background-size: 35%;
                }
            }
        }
        section{
            input:checked{
                & ~ .price{
                    transform: translate(-400%, 0); 
                }
                & ~ .progress{
                    transform: scaleX(1);
                }
                & ~ .text_menu{
                    .azerty, .qwerty{
                        width: 400px;
                    }
                    
                }
            }
            article{
                .price{
                    
                    left: 90%;
                }
                &:hover{
                    & > .price{
                        transform: translate(-400%, 0);
                    }
                    .azerty, .qwerty{
                        width: 400px;
                    }
                }
            }
        }
        footer{
            .logo_f{
                background-size: 20%;
                height: 30px;
            }
        }
    }
    /* Desktop */
    @media screen and (min-width: 1024px) {
        header{
            .bloc{
                .logo_h{
                    background-size: 25%;
                }
            }
        }
        .group_menu{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            section{
                .tiret_vert{
                    top: 35px;
                }
                width: 30%;
                input:checked{
                    & ~ .price{
                        transform: translate(-175%, 0); 
                    }
                    & ~ .progress{
                        transform: scaleX(1);
                    }
                    & ~ .text_menu{
                        .azerty, .qwerty{
                            width: 185px;
                        }
                        
                    }
                }
                article{
                    width: 100%;
                    &:hover{
                        .azerty, .qwerty{
                            width: 185px;
                        }
                        & > .price{

                            transform: translate(-195%, 0); 
                        }
                        & > .progress{
                            
                            transform: scaleX(1); 
                        }
                    }
                }
            }
        }
        footer{
            .logo_f{
                background-size: 15%;
                height: 35px;
            }
        }
    }
    @media screen and (min-width: 1440px){
        header{
            .bloc{
                .logo_h{
                    background-size: 20%;
                }
            }
        }
        .group_menu{
            
            section{
                input:checked{
                    & ~ .price{
                        transform: translate(-250%, 0); 
                    }
                    & ~ .progress{
                        transform: scaleX(1);
                    }
                    & ~ .text_menu{
                        .azerty, .qwerty{
                            width: 100%;
                        }
                        
                    }
                }
                article{
                    &:hover{
                        .azerty, .qwerty{
                            width: 100%;
                        }
                        & > .price{
                            transform: translate(-250%, 0); 
                        }
                        & > .progress{
                            
                            transform: scaleX(1); 
                        }
                    }
                }
            }
        }
        footer{
            .logo_f{
                background-size: 10%;
                height: 35px;
            }
        }
    }